---
import Container from '@components/Container.astro'
import Link from '@components/Link.astro'
import SearchButton from '@components/header-search.astro'
import { SITE } from '@consts'
---

<header transition:persist>
  <Container>
    <div class="flex flex-wrap justify-between gap-y-2">
      <div class="flex items-center gap-1">
        <Link href="/" underline={false}>
          <div class="font-semibold">
            {SITE.TITLE}&nbsp;
          </div>
        </Link>
        <SearchButton />
      </div>
      <nav class="flex items-center gap-1 text-sm">
        <Link href="/blog" class="mr-2">Blog</Link>
        <Link href="/projects" class="mr-2">Projects</Link>
        <Link href="/uses" class="mr-2">Notes</Link>
        <Link href="/about" class="mr-2">About</Link>
      </nav>
    </div>
  </Container>
</header>
