---
import { ScrollArea } from '@/components/ui/scroll-area';
// import { Icon } from 'astro-icon/components';
---

<nav
  class="sticky top-[5.5rem] col-start-1 hidden h-[calc(100vh-5.5rem)] text-xs leading-4 xl:block"
>
  <div class="flex justify-end">
    <ScrollArea client:load className="max-h-[calc(100vh-8rem)]" type="always">
      <ul
        class="flex flex-col justify-end gap-y-2 overflow-y-auto px-8"
        id="toc-container"
      >
        <li>
          <h2 class="mb-2 text-lg font-semibold">导航链接</h2>
        </li>
        <li>目录 1</li>
        <li>目录 2</li>
        <li>目录 3</li>
      </ul>
    </ScrollArea>
  </div>
</nav>
