---
import Layout from '@/layouts/Layout.astro';
---

<Layout
  title="About me"
  description="I'm a software engineer and a competitive coder. I'm currently a senior at BYU, studying Computer Science."
  image="/static/avatar.webp"
>
  <div
    class="grid grid-cols-[minmax(0px,1fr)_min(768px,100%)_minmax(0px,1fr)] gap-y-6 *:px-4"
  >
    <h1 class="col-start-2">About me</h1>
    <div class="col-start-2">
      <p>
        I'm a software engineer and a competitive coder. I'm currently a senior
        at BYU, studying Computer Science.
      </p>
    </div>
    <div class="col-start-2">
      <h2>Skills</h2>
      <p>
        I'm a software engineer and a competitive coder. I'm currently a senior
        at BYU, studying Computer Science.
      </p>
    </div>
  </div>
</Layout>
